{% extends "base.html" %}


{% block content %}

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-10 mx-auto">
      <div class="text-center mb-5">
        <h1 class="sm:text-4xl text-2xl font-medium text-center title-font text-white mb-10">Full Stack Developer</h1>
        <h1 class="text-xl text-indigo-400 tracking-widest font-medium title-font mb-1"><u>Key Skills</u></h1>
      </div>
      <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">Python</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">Django</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">SQL</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">Graphic Design</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">Numpy | Pandas</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-800 rounded flex p-4 h-full items-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-400 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium text-white">HTML | CSS</span>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-5 mx-auto">
      <div class="flex flex-col text-center w-full mb-5">
        <h1 class="text-xl text-indigo-400 tracking-widest font-medium title-font mb-1"><u>Education</u></h1>

    </div>
      <div class="lg:w-2/3 w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">Degree</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Board</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Year</th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Grades</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-3" style="color:white">High School</td>
              <td class="px-4 py-3" style="color:white">CBSE</td>
              <td class="px-4 py-3"style="color:white">2016-17</td>
              <td class="px-4 py-3 text-lg text-white" style="color:white">Ist Division</td>
        
            </tr>
            <tr>
              <td class="border-t-2 border-gray-800 px-4 py-3" style="color:white">Intermediate</td>
              <td class="border-t-2 border-gray-800 px-4 py-3" style="color:white">CBSE</td>
              <td class="border-t-2 border-gray-800 px-4 py-3"style="color:white">2018-19</td>
              <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white" style="color:white">Ist Division</td>
            </tr>
            <tr>
              <td class="border-t-2 border-gray-800 px-4 py-3" style="color:white">BTech CSE</td>
              <td class="border-t-2 border-gray-800 px-4 py-3" style="color:white">AKTU</td>
              <td class="border-t-2 border-gray-800 px-4 py-3" style="color:white">2019-23</td>
              <td class="border-t-2 border-gray-800 px-4 py-3 text-lg text-white" style="color:white">Ist Division</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock content %}