{% extends "base.html" %}


{% block content %}

<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-800">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-white">iPost</span>
          </div>
          <div class="md:flex-grow">
            <p class="leading-relaxed"><span style="color:white"><strong>iPost</strong></span> is a Django-based web application that serves as a platform for users to share their thoughts and ideas, similar to a blogging platform. The application allows users to create accounts with secure user authentication, enabling them to log in and post their thoughts and views. Users can share their ideas, experiences, and opinions on various topics, engage with other users' posts through comments, and express their appreciation by liking posts.</p>
          </div>
        </div>
        <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-white">Fitness Freak</span>
          </div>
          <div class="md:flex-grow">
            <p class="leading-relaxed"><span style="color:white"><strong>Fitness Freak</strong></span> is a comprehensive Django web application meticulously crafted to elevate your fitness journey. More than just a platform, Fitness Freak is your digital companion, offering a holistic space to share your fitness tips, seek guidance, and foster a supportive community.</p>

          </div>
        </div>
        <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="font-semibold title-font text-white">PyTech College</span>
          </div>
          <div class="md:flex-grow">
            <p class="leading-relaxed"><span style="color:white"><strong>PyTech College</strong></span>, an innovative Django web application designed to seamlessly connect learners with their educational aspirations. PyTech College goes beyond conventional registration platforms; it's an immersive experience where users can enroll in courses and engage with a dynamic educational community.</p>

          </div>
        </div>
        <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
              <span class="font-semibold title-font text-white">PyBank</span>
            </div>
            <div class="md:flex-grow">
              <p class="leading-relaxed"><span style="color:white"><strong>PyBank</strong></span> is a user-friendly desktop application built using the Tkinter library in Python. The application is designed to facilitate the management of customer data for a bank. It provides a seamless interface for bank employees and administrators to efficiently handle customer account operations, including opening new accounts and updating customer balances.</p>
  
            </div>
          </div>
      </div>
      <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-white">ToDo App</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed"><span style="color:white"><strong> ToDo</strong></span>, a powerful Django web application designed to be your go-to task manager, ensuring you never miss a beat in your busy life. ToDo simplifies task management, allowing users to effortlessly add, organize, and track their to-do items, ensuring nothing slips through the cracks.</p>

        </div>
      </div>


      <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-white">Profile Portfolio</span>
        </div>
        <div class="md:flex-grow">
          <p class="leading-relaxed"><span style="color:white"><strong>Profile Portfolio</strong></span>, a bespoke Django web application meticulously crafted to be the window into your professional world. More than just a digital resume, Profile Portfolio is a dynamic showcase that enables users to explore your skills, education, projects, and download your resume—all in one centralized space.</p>

        </div>
      </div>
    </div>
  </section>



{% endblock content %}